*{
    margin: 0;
    padding: 0;
}

.text-center{
    text-align: center;
}

#icon-bar{
    background-color: #555;
    width: 100%;
    overflow: hidden;
}

#icon-bar a{
    float: left;
    width: 20%;
    text-decoration:none;
    color: white;
    display: block;
    text-align: center;
    padding: 16px 0;
    transition: all 1s ease-in;
}

#icon-bar a:hover{
    background: #000;
}

.active{
    background-color: #04aa6d;
}




/* 

    ease
    ease-in
    ease-out


*/
