*{
    margin: 0;
    padding: 0;
}
.container-first{
    background: aqua;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
}
.container-second{
    background: yellow;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.absolute{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    position: absolute;
}

.top-left{
    background: lime;
    top: 0;
    left: 0;
}
.top-center{
    background: red;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.top-right{
    background: blue;
    top: 0;
    right: 0;
}
.middle-left{
    background: greenyellow;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.middle-center{
    background: violet;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.middle-right{
    background: pink;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.bottom-left{
    background: lightcoral;
    bottom: 0;
    left: 0;
}
.bottom-center{
    background: brown;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}
.bottom-right{
    background: black;
    bottom: 0;
    right: 0;
}

.sticky-first{
    position: sticky;
    width: 100%;
    background-color: burlywood;
    text-align: center;
    top: 60px;
}

.sticky-second{
    position: sticky;
    width: 100%;
    background-color: plum;
    text-align: center;
    top: 60px;
}

.fixed{
    position: fixed;
    top:30px;
    background: black;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 200;
}