.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.h-100{
    height: 100vh;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.p-12{
    padding: 12px;
}

.close-icon{
    float: right;
    font-size: 32px;
}

.mt-5{
    margin-top: 12px;
}

.bg-yellow{
    background-color: #FFC300;
}

.bg-gray{
    background-color: #f1f1f1;
}

.bg-red{
    background-color: red;
}

.text-white{
    color: white !important;
}

.w-100{
    width: 100%;
}

.rounded-sm{
    border-radius:24px 8px;
}

.cursor-pointer{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

.d-none{
    display: none;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index:1;
}

.modal{
    background-color: white;
    width: 50%;
    margin: 12% auto;
    padding: 25px;
}

.form-control{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 16px;
}

.btn{
    border: none;
    outline: none;
    padding: 12px 16px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes zoomin {
    from {
        transform: scale(0)
    }
    to{
        transform: scale(1)
    }
}

.animate{
    animation:zoomin 0.5s ease-in;
}
