*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url(nature.jpg);
    background-repeat:repeat-x;
    background-attachment: fixed;
    height: 100vh;
    background-color: antiquewhite;
    background-position: bottom right;
}

/* 
    Width - 
        1.px
        2.em - 16px
        3.1rem 
        4.vw
        5.%
    
    height -
        1.px
        2.em
        3.rem
        4.vw
        5.%
*/

/* background-repeat
    no-repeat
    repeat
    repeat-y
    repeat-x
background-attachment
background-position
background */

/* 
    Background-position -
        1st way -
            1. top
            2. bottom
            3. center
            4. left
            5. right
    
        2nd way -
            1. x% y%

        
*/